$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayis-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);
// "Verified Graduate" has the same color as the person's name with 50% opacity
// Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
// font-family: 'Barlow Semi Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');



* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
    background-color: $light-grayish-blue;
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

main {
display:flex;
justify-content: center;
}

.container {
    min-width: 350px;
    max-width: 1500px;
    height: 100%;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 20px;
}

.card {
    width: 350px;
min-height: 200px;
    padding: 20px 40px 30px 40px;
    border-radius: 10px;
}

svg {
    position: relative;
    margin: -50px;
    right: -250px;
    top: 20px;
    fill: hsl(263, 60%, 63%);
}

.person{
    display:flex;
    flex-direction: row;
    margin: 0px 0px 15px 0px;
    align-items: center
}

.daniel{
    background-color: $moderate-violet;
}

.jonathan{
    background-color: $very-dark-grayis-blue;
}

.jeanette,
.kira{
    background-color: $white;
    color: $very-dark-grayis-blue;
}

.patrick{
    background-color: $very-dark-blackish-blue;
}

.person__img{
    border-radius: 50%;
    height: 30px;
    border: 2px solid hsl(0, 0%, 80%);
    }

.person__data{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.person__name {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.person__status {
    font-weight: 500;
    color:hsl(0, 0%, 80%);
    font-size: 12px;
}

.card__text--upper {
font-size: 22px;
font-weight: 600;
margin-bottom: 15px;
opacity: 0.8;
}

.card__text--lower {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    opacity: 0.6;
}


//   FOOTER
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution {
    color: hsl(228, 45%, 44%);
  }


//   Media queries

@media screen and (min-width:1400px) {

    main {
        align-items: center;
height: 100%;
    }
    .daniel {
        width: 720px;
        grid-column: span 2;
        order: 1;
    }

    .jonathan{
        order: 2;
    }
    
    .jeanette{
        order: 4;
    }
    
    .patrick{
        order: 5;
        width: 720px;
        grid-column: span 2;
    }

    .kira {
        order: 3;
        grid-row: span 2;
    }
}